.input {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input input {
  outline: none;
  margin-top: 20px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 0 18px;
  gap: 129px;
  width: 434px;
  height: 41px;
  background: rgba(224, 224, 224, 0.5);
  border-radius: 8px 0 0 8px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #696969;
  resize: both;
}

.input .button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  gap: 8px;
  width: 130px;
  height: 41px;
  border-radius: 0 8px 8px 0;
  background: #0084FF;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.button span {
  height: 24px;
  width: 24px;
  background-color: #fff;
}