h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #FAFDFE;
}

p {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.allBlock {
  width: 400px;
  height: 907px;
  background-color: #072755;
}
.allBlock .leftBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.allBlock .leftBlock .accountProfile {
  margin-top: 30px;
}
.allBlock .leftBlock .profileIcon {
  margin-top: 30px;
  -webkit-transition: 0.1ms ease-in-out;
  transition: 0.1ms ease-in-out;
  width: 100%;
}
.allBlock .leftBlock .profileIcon h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #FAFDFE;
}
.allBlock .leftBlock .profileIcon:hover {
  background: rgba(255, 255, 255, 0.1);
  border-left: 5px solid #0E53B4;
  cursor: pointer;
  width: 100%;
}