.breadCrumbs {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.breadCrumbsBgc {
  background: rgba(218, 215, 215, 0.4);
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadCrumbs .link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999999;
  text-decoration: none;
}

.background {
  height: 427px;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.background .texts {
  width: 100%;
  max-width: 1200px;
}

.background .texts h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 200px;
  line-height: 242px;
  color: #0085FF;
  padding-left: 100px;
  padding-right: 100px;
}

.background .texts h1 span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 200px;
  line-height: 242px;
  text-align: center;
  color: #FFFFFF;
}

.background .texts h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
}

.allTexts .text h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding-bottom: 20px;
}

.allTexts .text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 110px;
}

.contacts h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  padding-bottom: 20px;
  text-align: center;
}

.contacts .icons {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contacts .icons .icon {
  text-align: center;
}

.contacts .icons .icon p {
  padding-top: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  cursor: pointer;
}